@import 'utils/variables';
@import 'components/type';

*{
    margin: 0%;
    padding: 0%;
}

/***************************** SECTION 1*/

.container__el{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container__vid{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid__el{
    height: 100vh;
}

h1{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  margin-left:30px ;
}

.h1__modif{
    font-family: "DM Serif Display", serif;
}

.trait__el1{
    position: absolute;
    z-index: 3;
    width: 50%;
    left: 6%;
}

.trait__el2{
    position: absolute;
    z-index: 3;
    width: 50%;
    right: 6%;
    bottom: 41%;
}

/***************************** SECTION 2*/

.container__all{
    display: grid;
    grid-template-columns: 0.3fr 2fr 2fr 0.3fr;
    grid-template-rows: repeat(63, 1fr);
    height: 3300vh;
    position: relative;
    background-color: #FAFAFA;
    overflow: hidden;
}



.item1{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
}

.item2{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 137px;
    width: 95%;
}

.item3{
    grid-column: 2 / 4;
    grid-row: 4 / 6;
}

.item4{
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    display: flex;
    justify-content: center;
}

.item5{
    grid-column: 2 / 4;
    grid-row: 6 / 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 39px;
}

.item6{
    grid-column: 2 / 4;
    grid-row: 9 / 10;
}

.item7{
    grid-column: 2 / 4;
    grid-row: 10 / 11;
    display: flex;
    flex-direction: column;
    gap: 87px;
}

.item8{
    grid-column: 2 / 4;
    grid-row: 11 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item9{
    grid-column: 2 / 4;
    grid-row: 12 / 13;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.item10{
    grid-column: 2 / 4;
    grid-row: 13 / 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item11{
    grid-column: 2 / 4;
    grid-row: 15 / 18;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item12{
    grid-column: 2 / 4;
    grid-row: 15 / 18;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item13{
    grid-column: 2 / 4;
    grid-row: 18 / 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item14{
    grid-column: 2 / 4;
    grid-row: 20 / 21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item15{
    grid-column: 2 / 4;
    grid-row: 21 / 23;
    display: flex;
    justify-content: center;
}

.item16{
    grid-column: 2 / 4;
    grid-row: 23 / 26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item17{
    grid-column: 2 / 4;
    grid-row: 23 / 26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item18{
    grid-column: 2 / 3;
    grid-row: 26 / 28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item19{
    grid-column: 2 / 4;
    grid-row: 28 / 32;
    display: flex;
    flex-direction: column;
    gap: 87px;
}

.item20{
    grid-column: 2 / 4;
    grid-row: 32 / 34;
    display: flex;
    justify-content: center;
    align-items: end;
}

.item21{
    grid-column: 2 / 4;
    grid-row: 34 / 35;
    display: flex;
    justify-content: center;
    align-items: start;
}

.item22{
    grid-column: 2 / 4;
    grid-row: 34 / 35;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 87px;
}

.item23{
    grid-column: 2 / 4;
    grid-row: 35 / 38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 39px;
}

.item24{
    grid-column: 2 / 4;
    grid-row: 38 / 39;
    display: flex;
    justify-content: center;
    align-items: start;
}

.item25{
    grid-column: 2 / 4;
    grid-row: 38 / 39;
    display: flex;
    position: relative;
}

.item26{
    grid-column: 2 / 4;
    grid-row: 39 / 40;
    display: flex;
    align-items: center;
}

.item27{
    grid-column: 2 / 4;
    grid-row: 40 / 43;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.item28{
    grid-column: 2 / 4;
    grid-row: 43 / 44;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item29{
    grid-column: 2 / 4;
    grid-row: 43 / 45;
    display: flex;
    align-items: end;
    justify-content: center;
}

.item30{
    grid-column: 2 / 4;
    grid-row: 45 / 46;
}

.item31{
    grid-column: 2 / 4;
    grid-row: 46 / 48;
    display: flex;
    flex-direction: column;
    gap: 39px;
    position: relative;
}

.item32{
    grid-column: 2 / 3;
    grid-row: 47 / 48;
    display: flex;
    justify-content: center;
}

.item33{
    grid-column: 2 / 4;
    grid-row: 48 / 49;
    display: flex;
    flex-direction: column;
    gap: 39px;
    position: relative;
}

.item34{
    grid-column: 3 / 4;
    grid-row: 48 / 50;
    display: flex;
    justify-content: center;
    align-items: end;
}

.item35{
    grid-column: 2 / 4;
    grid-row: 50 / 51;
    display: flex;
    flex-direction: column;
    gap: 39px;
    position: relative;
}

.item36{
    grid-column: 2 / 3;
    grid-row: 50 / 52;
    display: flex;
    justify-content: center;
    align-items: end;
}

.item37{
    grid-column: 2 / 4;
    grid-row: 52 / 53;
    display: flex;
    flex-direction: column;
    gap: 39px;
    position: relative;
}

.item38, .item39, .item40{
    display: none;
}

.item41{
    grid-column: 2 / 4;
    grid-row: 53 / 55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item42{
    grid-column: 2 / 4;
    grid-row: 55 / 57;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item43{
    grid-column: 2 / 4;
    grid-row: 58 / 60;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item44{
    grid-column: 2 / 4;
    grid-row: 61 / 63;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 178px;
    background-color: #FF5900;
    overflow: hidden;
}

.item45{
    background-color: transparent;
    display: flex;
    align-items: end;
    gap: 8em;
    height: 100%;
    position: relative;
}

footer{
    height: 20%;
    width: 100%;
    position: absolute;
}

.container__reseaux{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
}

.container__defilement{
    width: 400%;
    overflow: hidden;
    display: flex;
    gap: 15em;
}

.container__defilement {
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(50%); }
  to { transform: translateX(-50%); }
}

/****************************** Font & Co*/

.container__contact{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    width: 153px;
    border-radius: 30.5px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #1D368B;
}

.ligne__el1{
    height: 90%;
}

.ligne__el1--modif1{
    transform: rotate(10deg);
}

.ligne__el1--modif2{
    transform: rotate(10deg);
}

.ligne__el2{
    height: 95%;
    transform: rotate(34deg);
    width: 100%;
}

.ligne__el3{
    width: 100%;
    transform: rotate(-42deg);
}

.ligne__el4{
    height: 100%;
    transform: rotate(90deg) scale(2.3);
}

.ligne__el5{
    height: 100%;
}

.ligne__el6{
    height: 50%;
    transform: rotate(32deg);
}

.ligne__el6--modif{
    margin-bottom: 25%;
}

.ligne__el6--modif2{
    height: 37%;
    transform: rotate(-148deg);
}

.ligne__el7{
    width: 86%;
    position: absolute;
    top: -43%;
    right: 0;
}

.ligne__el8{
    width: 75%;
    position: absolute;
    top: 12%;
}


.ligne__el8--modif2{
    top: 28%;
}

.ligne__el9{
    width: 69%;
    transform: rotate(-55deg);
}

.ligne__el9--modif{
    transform: rotate(-194deg);
}

.ligne__el10{
    height: 100%;
}

.h1__modif--color{
    color: #1D368B;
}

h2{
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    color: #1D368B;
}

h3{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 29px;
  color: #1D368B;
}

.h3__modif{
    font-family: "DM Serif Display", serif;
}

.h3__modif--size{
    font-size: 23px;
}

h4{
    font-family: "DM Serif Display", serif;
    font-size: 23px;
    color: #1D368B;
}

.h4__modif{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

h5{
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #1D368B;
}

.Group__img{
    height: 50%;
}

.para__modif{
    font-family: "DM Serif Display", serif;
    font-size: 18px;
}

p{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1D368B;
}

.item45 p{
    color: #1D368B;
}

.item30 .ligne__el2{
    display: none;
}

.item16 h3{
    font-size: 21px;
    width: 90%;
}

.item11 h3{
    font-size: 21px;
    width: 90%;
}

.ligne__footer{
    height: 3px;
    width: 100%;
    background-color: #1D368B;
    position: absolute;
    top: 0%;
}


/*********************************** Responsive*/

@media(min-width: 390px){
    .container__all{
        height: 2500vh;
    }

    .item3 {
    display: flex;
    justify-content: center;
    }

    .ligne__el2 {
    width: 68%;
    }

    .ligne__el5 {
    height: 92%;
    }

    .item45 {
    gap: 10em;
    }

    .trait__el2 {
        bottom: 42%;
    }
}

@media(min-width: 410px){
    .container__all{
        height: 2300vh;
    }

    .item20 {
    align-items: center;
    }

    .trait__el1 {   
        width: 43%;
    }

    .trait__el2 {
        right: 11%;
        bottom: 43%;
    }
}

@media(min-width:430px){
    h1{
        width: 85%; 
    }
}

@media(min-width: 750px){
    .container__all{
        height: 2000vh;
    }

    .ligne__el2 {
        width: 42%;
    }

    .ligne__el3 {
    width: 50%;
    }

    .Group__img {
    height: 71%;
    }

    .item6 {
    display: flex;
    justify-content: center;
    }

    .ligne__el4 {
    transform: rotate(0deg) scale(1.1);
    }

    .item10 {
    align-items: end;
    }

    h2 {
    font-size: 49px;
    }

    .item18 {
    grid-row: 25 / 28;
    align-items: center;
    }

    .ligne__el1--modif {
    height: 67%;
    }

    .item19{
        grid-row: 28 / 31;
    }

    .item20 {
        align-items: start;
        grid-row: 31 / 33;
    }

    .item21{
        grid-row: 33 / 34;
    }

    .item22{
        grid-row: 33 / 35;
    }

    .ligne__el6--modif {
    height: 67%;
    }

    .ligne__el7 {
    width: 49%;
    top: -43%;
    }

    .ligne__el8 {
    width: 50%;
    top: 6%;
    }

    .ligne__el9 {
    width: 45%;
    }

    .ligne__el8--modif1 {
    top: 12%;
    }

    .ligne__el8--modif2 {
    top: 15%;
    }

    .item45 {
        gap: 25em;
    }

    .container__reseaux{
        flex-direction: row;
    }

    h1 {
        width: 74%;
        font-size: 58px;
    }

    .trait__el1 {
        width: 40%;
        left: 10%;
    }

    .trait__el2 {
        right: 14%;
        bottom: 41%;
        width: 46%;
    }
}

@media(min-width: 820px){
    .container__all {
    height: 1800vh;
    }

    .item27{
        grid-row: 40 / 42;
    }

    .item28{
        grid-row: 42 / 43;
    }

    .item29{
        align-items: start;
    }

    .item45 p {
        margin-bottom: 10px;
    }

    .container__reseaux {
        margin-bottom: 10px;
    }
}

@media(min-width: 1000px){
    .container__all {
        height: 2950vh;
    }

    h1{
        width: 54%;
    }

    .trait__el1 {
        width: 30%;
        left: 21%;
    }

    .trait__el2 {
        right: 23%;
        bottom: 38%;
        width: 40%;
    }

    .ligne__el2 {
        width: 33%;
    }

    h3{
        font-size: 41px;
    }

    .item11 h3 {
        font-size: 34px;
        width: 90%;
    }

    .item16 h3 {
        font-size: 34px;
        width: 90%;
    }

    p{
        font-size: 23px;
    }

    .para__modif{
        font-size: 26px;
    }

    .ligne__el3 {
        width: 43%;
    }

    h2 {
        font-size: 66px;
    }

    .ligne__el5 {
        height: 114%;
    }

    .h3__modif--size {
    font-size: 29px;
    }

    h5{
        font-size: 26px;
    }

    .Group__img {
        height: 83%;
    }

    .ligne__el7 {
        width: 38%;
        top: -39%;
    }

    h4{
        font-size: 36px;
    }

    .ligne__el6--modif2 {
        height: 78%;
    }

    .item22 {
        grid-row: 34 / 35;
    }

    .item28 {
        grid-row: 43 / 44;
    }

    .ligne__el8 {
        top: 16%;
    }

    .ligne__el8--modif1 {
        top: 7%;
    }

    .ligne__el8--modif2{
        top: 16%;
    }

    .ligne__el9 {
    transform: rotate(-0);
    }

    .ligne__el9--modif {
    transform: rotate(-185deg);
    }

    .item34{
        grid-column: 2 / 3;
        justify-content: end;
    }

    .item35{
        grid-column: 3 / 4;
    }

    .item33{
        grid-column: 2 / 3;
    }

    .item37{
        grid-column: 2 / 3;
    }

    .item38{
        grid-column: 3 / 4;
        grid-row: 48 / 49;
        display: block;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .item39{
        grid-column: 2 / 3;
        grid-row: 50 / 51;
        display: block;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .item31 {
    grid-column: 3 / 4;
    }

    .item40{
        grid-column: 3 / 4;
        grid-row: 52 / 53;
        display: block;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .ligne__el9--modif2{
        transform: rotate(-95deg);
    }

    .item36 {
        grid-column: 2 / 4;
        justify-content: start;
    }

    .ligne__el1--modif2 {
        transform: rotate(10deg);
        height: 70%;
    }

    .item45 {
        gap: 41em;
    }

    .item45 p {
        font-size: 16px;
        margin-left: 10px;
    }

}

@media(min-width: 1080px){
    .item36 {
        justify-content: center;
    }

    .ligne__el9--modif2 {
        transform: rotate(-73deg);
    }

    .item29 .ligne__el1 {
        height: 116%;
    }

    .ligne__el7 {
        top: -45%;
    }

    .ligne__el3 {
        width: 36%;
    }

    h1 {
        width: 53%;
        font-size: 66px;
    }

    .trait__el2 {
        width: 33%;
    }

    .item45 {
        gap: 49em;
    }
}

@media(min-width: 1200px){
    .container__all {
        height: 2342vh;
    }

    h1{
        font-size: 74px;
        width: 57%;
    }

    .item11 h3 {
        font-size: 41px;
    }

    .item16 h3 {
        font-size: 41px;
    }


    .trait__el1 {
        width: 31%;
        left: 19%;
    }

    .trait__el2 {
        width: 36%;
        right: 20%;
        bottom: 39%;
    }

    .item1 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        position: relative;
        display: block;
    }

    .ligne__el1--modif1 {
        transform: rotate(49deg);
        position: absolute;
        top: -21%;
        right: 9%;
        height: auto;
    }

    .item2{
        grid-column: 2 / 3;
    }

    .item3 {
    grid-column: 2 / 3;
    align-items: end;
    }

    .item4 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: start;
    align-items: end;
    }

    .item5 {
    grid-column: 3 / 4;
    }

    .ligne__el2 {
        width: 61%;
        transform: rotate(5deg);
    }

    .ligne__el3 {
        width: 43%;
        transform: rotate(1deg);
    }

    .item7{
        grid-column: 2 / 3;
    }

    .item8{
        grid-column: 2 / 3;
        justify-content: start;
    }

    .item9{
        grid-column: 3 / 4;
        grid-row: 11 / 13;
        justify-content: center;
    }

    .Group__img--modif{
        height: 61%;
    }

    .item10 {
        align-items: start;
    }

    .item11 h3{
        width: 89%;
    }

    .ligne__el5 {
        height: 100%;
        width: 99%;
    }

    .item18 {
        align-items: end;
    }

    .ligne__el1--modif2 {
    height: 72%;
    }

    .item19 {
    grid-column: 2 / 3;
    }

    .item20 {
        grid-row: 29 / 31;
        grid-column: 3 / 4;
        justify-content: center;
    }

    .ligne__el6--modif {
        height: 87%;
        transform: rotate(12deg);
        margin-bottom: 0%;
    }

    .item21 {
        grid-row: 31 / 34;
        grid-column: 3 / 4;
        justify-content: end;
        align-items: center;
    }

    .item22 {
        grid-row: 34 / 35;
        grid-column: 3 / 4;
        justify-content: start;
        align-items: center;
    }

    .ligne__el6--modif2 {
    height: 78%;
    transform: rotate(67deg);
    }

    .item23 {
    grid-column: 2 / 3;
    grid-row: 35 / 39;
    justify-content: start;
    }

    .item24 {
    grid-column: 3 / 4;
    grid-row: 37 / 38;
    justify-content: end;
    }

    .item25 {
    grid-column: 3 / 4;
    grid-row: 37 / 38;
    }

    .ligne__el7 {
        width: 105%;
        top: -25%;
        right: -5%;
    }

    .item26{
        grid-column: 2 / 3;
        grid-row: 40 / 41;
        align-items: start;
    }

    .item27 {
        grid-row: 41 / 45;
        grid-column: 3 / 4;
    }

    .item28 {
        grid-row: 41 / 44;
        grid-column: 2 / 3;
        justify-content: start;
    }

    .item29 {
        align-items: start;
        grid-column: 2 / 3;
    }

    .item29 .ligne__el1{
        margin-right: 12.7%;
        height: 125%;
    }

    .item30 {
        grid-column: 2 / 3;
        grid-row: 46 / 47;
    }

    .item31 {
        grid-row: 47 / 48;
    }

    .item33 {
        grid-row: 49 / 50;
    }

    .item32 {
    grid-row: 48 / 49;
    justify-content: end;
    }

    .item38 {
        grid-row: 49 / 50;
        align-items: start;
    }

    .ligne__el9 {
        width: 39%;
        margin-right: 7%;
    }

    .item34 {
        grid-row: 49 / 50;
        position: relative;
    }

    .Group__img--extensionmodif{
        height: 70%;
    }

    .ligne__el9--modif {
        transform: rotate(-236deg);
        position: absolute;
        right: -20%;
    }

    .item39{
        align-items: start;
    }

    .item37 {
        grid-row: 51 / 52;
    }

    .item40 {
        grid-row: 51 / 52;
        align-items: start;
    }

    .item36 {
        grid-column: 2 / 3;
        grid-row: 50 / 51;
        justify-content: end;
    }

    .ligne__el9--modif2{
        transform: rotate(0);
        margin-right: 0%;
    }

    .item41 {
    grid-row: 52 / 55;
    }

    .item28 .Group__img{
        height: 70%;
    }

    .item21 .Group__img{
        height: 70%;
    }

    .item45 p{
        font-size: 16px;
    }

    .item45 {
        gap: 52em;
    }
}

@media(min-width: 1350px){
    .item5 {
        grid-row: 6 / 8;
        justify-content: start;
    }

    .item6 {
        grid-row: 8 / 10;
        align-items: end;
    }

    .item29 .ligne__el1 {
        margin-right: 22.9%;
        height: 156%;
    }

    .ligne__el8--modif2 {
        top: 7%;
    }

    .h3__modif {
    font-size: 46px;
    }

    .trait__el1 {
        width: 30%;
        left: 21%;
    }

    h1 {
        font-size: 84px;
        width: 57%;
    }

    .trait__el2 {
        bottom: 38%;
    }

    .item45 {
        gap: 60em;
    }
}

@media(min-width: 1400px){
    .item29 .ligne__el1 {
        margin-right: 24.9%;
    }

    .ligne__el9--modif {
        bottom: 8%;
    }

    .ligne__el9--modif2 {
        bottom: 8%;
        position: absolute;
    }

    .item36 {
        position: relative;
    }

    .item45 {
        gap: 63em;
    }
}

@media(min-width: 1470px){
    .item8 {
        align-items: end;
    }

    .item29 .ligne__el1 {
        margin-right: 28.9%;
    }

    .trait__el2 {
        width: 32%;
        right: 25%;
    }

    .item45 {
        gap: 66em;
    }
}

@media(min-width:1500px){

    h1 {
        font-size: 94px;
        width: 58%;
    }

    .Group__img--modif {
        height: 70%;
    }

    .trait__el1 {
        width: 31%;
        left: 20%;
    }

    .trait__el2 {
        bottom: 35%;
        width: 36%;
        right: 19%;
    }

    .ligne__el1--modif1 {
        transform: rotate(68deg);
        top: -44%;
        right: 31%;
    }

    .ligne__el3 {
        width: 37%;
    }

    .item6 {
        grid-row: 7 / 10;
        align-items: center;
    }

    .item2{
        grid-row: 2 / 4;
    }

    .item3{
        grid-row: 5 / 6;
    }

    .item20 {
        grid-row: 28 / 29;
        justify-content: start;
        align-items: end;
    }

    .item21 {
        grid-row: 29 / 31;
        justify-content: center;
    }

    .item21 .Group__img {
        height:100%;
    }

    .ligne__el6--modif {
        height: 71%;
        transform: rotate(-3deg);
    }

    .ligne__el6--modif2 {
        height: 78%;
        transform: rotate(64deg);
    }

    .item22{
        grid-row: 31 / 32;
    }

    .item23 {
        grid-row: 32 / 36;
    }

    .item24{
        grid-row: 33 / 34;
    }

    .item25 {
        grid-row: 33 / 34;
    }

    .item26{
        grid-row: 36 / 37;
    }

    .item27 {
        grid-row: 37 / 41;
        justify-content: center;
    }

    .item28 {
        grid-row: 39 / 42;
        align-items: start;
    }

    .item29 .ligne__el1 {
        margin-right: 38.9%;
        height: 85%;
        width: 100%;
    }

    .item29{
        grid-row: 41 / 44;
    }

    .item30 {
        grid-row: 44 / 47;
        display: flex;
        position: relative;
    }

    .item30 .ligne__el2{
        display: block;
        position: absolute;
        bottom: -6%;
        right: 12%;
        width: 57%;
        transform: rotate(16deg);
    }

    .ligne__el10 {
        transform: scale(1.3);
    }

    .item37 .ligne__el8--modif2{
        top: 15%;
    }

    .item45 {
        gap: 68em;
    }

    .container__defilement {
        animation: marquee 50s linear infinite;
    }
}


@media (min-width: 1600px){
    .item3{
        align-items: start;
    }

    .ligne__el7 {
        width: 100%;

    }

    .item29 .ligne__el1 {
        margin-right: 33.9%;
    }

    .item37 .ligne__el8--modif2 {
        top: 8%;
    }

    .item45 {
        gap: 74em;
    }
}

@media (min-width: 1660px){
    .trait__el2 {
        bottom: 36%;
        width: 32%;
        right: 27%;
    }

    .trait__el1 {
        width: 27%;
    }

    .ligne__el1--modif1 {
        top: -37%;
    }

    h3 {
        font-size: 46px;
    }

    .item11 h3 {
        font-size: 46px;
    }

    .item16 h3 {
        font-size: 46px;
    }


    .h3__modif {
        font-size: 52px;
    }

    .ligne__el8 {
        top: 20%;
    }

    .ligne__el8--modif1 {
        top: 9%;
    }

    .ligne__el8--modif2{
        top: 9%;
    }

    .item37 .ligne__el8--modif2 {
        top: 9%;
    }

    .item45 {
        gap: 77em
    }

    .item45 p {
        margin-left: 10px;
    }

    .item29 .ligne__el1 {
        margin-right: 38.9%;
    }

    .item38 {
        justify-content: center;
    }

    .item40 {
        justify-content: center;
    }

    .item8{
        justify-content: center;
    }

}

@media(min-width: 1720px){
    .item45{
        gap: 80em;
    }
}

@media (min-width: 1730px){
    h1{
        width: 50%;
    }

    .trait__el1 {
        width: 28%;
        left: 23%;
    }

    .trait__el2 {
        bottom: 37%;
        width: 32%;
        right: 24%;
    }

    .ligne__el6--modif {
        height: 71%;
        transform: rotate(-17deg);
    }

    .ligne__el6--modif2 {
        height: 78%;
        transform: rotate(73deg);
    }

    .ligne__el7 {
        width: 92%;
    }

    .item29 .ligne__el1 {
        margin-right: 31.9%;
    }

    .item37 .ligne__el8--modif2 {
        top: 9%;
    }

    .item45 {
        gap: 84em;
    }
}


@media (min-width: 1860px){
    .trait__el1 {
        width: 25%;
        left: 24%;
    }

    .trait__el2 {
        bottom: 37%;
        width: 30%;
        right: 27%;
    }

    .Group__img--modif {
        height: 70%;
    }

    .ligne__el7 {
        width: 85%;
    }

    .item29 .ligne__el1 {
        margin-right: 33.9%;
    }

    .item45 {
        gap: 91em;
    }

    .item24 {
        justify-content: center;
    }

    .Group__img--modif {
        height: 77%;
    }

    .item8{
        justify-content: center;
    }

    .ligne__el1--modif1 {
        top: -32%;
    }
}



